/* 消除模态框移位现象*/
*{
    margin:0;
    padding:0;
}
body.modal-open {
    overflow-y: auto !important;
    padding-right: 0 !important;
}

.daozhibo{
    width:100%;
    height:930px;
    position: relative;
    background-color:#282828;
    color:#fff;
    min-width:1366px;
    overflow-y:auto;
    font-size:12px;
    overflow-x: hidden;

}

a:visited,a:link,a:focus{
    text-decoration: none;
}

.daozhibo .header{
    width:100%;
    height:43px;
    background: url(../../static/images/bg.png) repeat-x;
    padding-right:25px;
}

.daozhibo .header ul li h4{
    font-size: 20px;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}

.daozhibo .header ul li>a:hover{
    text-decoration: none;
}

.daozhibo .header .logo{
    width: 197px;
    margin: -2px 27px;
}

.daozhibo .sidebar{
    position: absolute;
    top:43px;
    left:0;
    bottom:0;
    width:70px;
    height:auto;
}

.daozhibo .sidebar .user-logo{
    padding:10px 0;
    height:130px;
}

.daozhibo .sidebar .user-logo span{
    margin-left:10px;
}

.daozhibo .sidebar .user-logo a:hover{
    text-decoration: none;
}

.daozhibo .sidebar .user-logo a img{
    width:45px;
}


.daozhibo .sidebar ul li>a{
    display: inline-block;
    width:100%;
    padding:8px 0;
    height:100%;
}

.daozhibo .sidebar ul li>a:hover{
    text-decoration: none;
}

.daozhibo .sidebar ul li a img{
    width:30px;
}

.daozhibo .sidebar ul li>a:hover{
    background-color:#d1201d;
}

.daozhibo .sidebar h6{
    color:#fff;
}

.daozhibo .sidebar .ydd-app{
    position: relative;
}

.daozhibo .sidebar .ydd-app .sm{
    position: absolute;
    right: -120px;
    top: -37px;
    display: none;
    z-index: 100;
}

.daozhibo .sidebar .ydd-app:hover .sm{
    position: absolute;
    right: -120px;
    top: -37px;
    display: block;
    z-index: 100;
}

.daozhibo .divider{
    height:1px;
    width: 100%;
    opacity:0.19;
    background-color:#fff;
}

.daozhibo .sidebar-divider{
    position: absolute;
    left:69px;
    top: 0;
    width: 1px;
    height: 945px;
    background-color:#fff;
    opacity:0.19;

}

.daozhibo .content {
    margin-left: 70px;
    width: calc(100% - 70px);
    width: -webkit-calc(100% - 70px);
    width: -moz-calc(100% - 70px);
    height: 907px;
    overflow: hidden;
}

.zhibo{
    width:858px;
    padding:10px 0;
    display: inline-block;
    vertical-align: top;
}

.zhibo .player{
    width:100%;
    height:454px;
}

.zhibo .price{
    width:100%;
    height:100px;
    position: relative;
    background-color: #151515;
    overflow: hidden;
}

.zhibo .price .choice{
    width:730px;
    height:100%;
    display: inline-block;
    vertical-align: top;
}

.zhibo .price .count{
    position: absolute;
    left: 46px;
    top: 8px;
    width: 10px;
    height: 10px;
    border: 1px solid transparent;
    cursor: pointer;
}

.zhibo .price .gift-btn{
    position: absolute;
    left: 62px;
    top: 0px;
    width: 57px;
    height: 27px;
    border: 1px solid transparent;
    cursor: pointer;
}

.zhibo .price .choice .carousel-control {
    position: absolute;
    top: 23px;
    bottom: 0;
    left: 0;
    width: 5%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: rgba(0,0,0,0);
    filter: alpha(opacity=50);
    opacity: .5;
}

.zhibo .price .choice .carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}

.zhibo .price .choice .carousel-control.left {
    left: 0;
    right: auto;
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}

.zhibo .price .choice .carousel-inner .inner-content{
    margin:0px 40px;
}

.zhibo .price .choice .carousel-inner .inner-content>li{
    width:78px;
    text-align: center;
    border:1px solid transparent;
    cursor:pointer;
    height:98px;
    overflow: hidden;
}

.zhibo .price .choice .carousel-inner .inner-content>li>img{
    width:56px;
    height:45px;
}

.zhibo .price .choice .carousel-inner .inner-content>li.active{
    border:1px solid #fff;
}

.zhibo .price .choice ul{
    display: inline-block;
    padding: 10px 20px;
    position: absolute;
    right: -15px;
    top: 0;
}

.zhibo .price .choice ul>li{
    position: relative;
}

.zhibo .price .choice ul>li .gift-num{
    position: absolute;
    left: 6px;
    top: 3px;
    padding-left: 10px;
    width: 37px;
    background-color: #000;
    outline: none;
    border: 1px solid transparent;
}

.zhibo .price .choice ul>li img{
    cursor: pointer;
}

.zhibo .zhibo-carousel{
    width:858px;
    height:334px;
    overflow: hidden;
    margin:10px 0;
}

.zhibo .zhibo-carousel img{
    height:334px;
}

/* chat */
.daozhibo .chat{
    position: absolute;
    right: 0;
    bottom:0;
    top:43px;
    width:calc(100% - 1318px);
    width:-webkit-calc(100% - 1318px);
    width:-moz-calc(100% - 1318px);
    height:800px;
    padding:10px 30px;
}

.daozhibo .chat .form-control{
    border-radius: 0;
    height:50px;
    margin:10px 0;
}

.daozhibo .chat .chat-inner{
    width:100%;
    height:680px;
    margin-bottom: 10px;
    position:relative;
    overflow: hidden;
}

.daozhibo .chat .chat-inner .inner-container{
    position: absolute;
    left:0;
    width:100%;
    height:700px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 20px;
}

.daozhibo .chat .chat-inner .inner-container::-webkit-scrollbar {
    display: none;
}

.daozhibo .chat .chat-inner .chat-item h4 ,.daozhibo .chat .chat-inner .chat-item ol{
    display: inline-block;
}

.daozhibo .chat .chat-inner .chat-item h4{
    padding-left:45px;
    line-height: 22px;
    font-weight:100;
}

.daozhibo .chat .btn-send{
    width:93px;
    height:33px;
    background-color: #e61f1c;
    color:#fff;
    margin-top:20px;
    line-height:17px;
}

.daozhibo .chat .btn-send img{
    margin-right:10px;
}

.daozhibo .zj-list{
    width:380px;
    height:910px;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.daozhibo .zj-list .inner-container {
    position: absolute;
    left: 10px;
    padding: 10px;
    width: 380px;
    height: 930px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 20px;
}

.daozhibo .chat .chat-icon{
    position: relative;
    cursor: pointer;
}

.daozhibo .chat .chat-face{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 5px;
    bottom: 25px;
    overflow: hidden;
}

.daozhibo .chat .chat-face.active{
    display: none;
}

#chat_content img{
    padding:0 2px;
}

.daozhibo .chat .chat-content{
   width:100%;
    height:50px;
    background-color:#fff;
    margin:10px 0;
    padding:10px;
    color:#000;
    overflow-x:hidden;
    overflow-y:auto;
}

.daozhibo .chat .chat-face .chat-face-inner{
    position: relative;
    width:100%;
    height:99%;
    overflow: hidden;
    background-color:#fff;
}

.daozhibo .chat .chat-face .chat-face-inner .chat-face-content{
    position: absolute;
    width:300px;
    height:100%;
    left:0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.daozhibo .chat .chat-face .chat-face-inner .chat-face-content::-webkit-scrollbar {
    display: none;
}

    /* for Chrome */
.zj-list .inner-container::-webkit-scrollbar {
    display: none;
}

.daozhibo .zj-list .media p{
    margin:10px 0;
}

.daozhibo .zj-list .media .media-heading .num-icon{
    border:1px solid #f00;
    border-radius: 10px;
    padding: 2px 14px;
}

.daozhibo .media-object{
    width: 104px;
    height: 120px;
    margin-top:20px;
}

.daozhibo .inner-container .hq-list{
    position: relative;
}

.daozhibo .inner-container .hq-list>li{
    vertical-align: top;
    width: 85px;
    text-align: center;
}

.daozhibo .inner-container .hq-list>li:nth-child(2) h4{
    color: #e61f1c;
}

.daozhibo .inner-container .hq-list>li:nth-child(3) h4{
    color: #e61f1c;
}

.daozhibo .inner-container .hq-list>li:nth-child(3) h4.active{
    color: #35c0c5;
}

.daozhibo .inner-container .hq-list>li>span.caret{
    position: absolute;
    right:10px;
    top:18px;
    color:#fff;
    cursor:pointer;
}

.daozhibo .inner-container .small-game{
    position: absolute;
    background-color: #282828;
    left: 16px;
    top: 630px;
    width: 350px;
}

.daozhibo .inner-container .small-game li{
    padding:10px;
}

.daozhibo .inner-container .small-game li.active{
    background-color:#414141;
}

.affairs{
    background-color:#fff;
    color:#000;
}

.affairs>table{
    width:100%;
}

.affairs>table td{
    padding:10px;
}

/* accordion */
.accordion-inner{
    position: relative;
}

.accordion-inner .date-select{
    position: absolute;
    bottom: 10px;
    left:10px;
}

.accordion-inner .date-select>li{
    width:55px;
    text-align: center;
    cursor: pointer;
}

.accordion-inner .date-select>li.active{
    background-color:#fff;
    color:#d1201d;
    border-radius:5px;
}

/* download */
.download{
    width: 750px;
    margin: 0 auto;
    height: 250px;
}

.download>li{
    width: 170px;
    text-align: center;
    border: 1px solid #ececec;
    height: 170px;
    line-height: 200px;
    margin-right:48px;
}

.download>li:hover{
    border: 1px solid #d1201d;
}

/* login */
.login_border {
    background-color: #fff;
    width: 450px;
    height: 450px;
    margin:0 auto;
    margin-top: 50px;
    padding: 0 10%;


}

.text_1 {
    line-height: 28px;
    width: 80%;
    padding-top: 60px;
    margin: auto;
}

.text_1 p {
    margin: auto;
    color: #dd5248;
    font-size: 24px;
    text-align: center;
    padding-bottom: 25px;
    font-weight: bold;
}

.text_2 input {
    width: 100%;
    height: 38px;
    background-color: #f2f2f2;
    border: 0 solid #f2f2f2;
    margin: auto;
    padding-left: 10px;
    color:#000;
}

.text_2 {
    width: 100%;
    margin-bottom: 25px;
    position: relative;
}

.text_3 {
    width: 100%;
    margin-top: 15px;
}

.text_3 input {
    width: 100%;
    height: 38px;
    background-color: #f2f2f2;
    border: 0 solid #f2f2f2;
    margin: auto;
    padding-left: 10px;
    color:#000;
}

.text_5 {
    width: 100%;
    margin-top: 30px;
}

.text_5 input {
    background-color: #d7210c;
    width: 100%;
    height: 40px;
    color: #fff;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.text_6 {
    margin-top: 10px;
}

.text_6 a {
    text-decoration: none;
    color: #dd5248;
    font-size: 18px;
    cursor:pointer;
}

/* register */
.login_border>li {
    position: relative;
}

.login_border .num {
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    background-color: #d7210c;
    border: none;
    color: #FFFFFF;
    font-size: 12px;
    height: 38px;
    cursor: pointer;
}

#zhibo_register .text_1{
    padding-top:0;
}

#zhibo_register .text_2{
    margin-bottom:10px;
}

#zhibo_register .text_5{
    margin-top:10px;
}

/* 行情 */
.zj-list-header{
    position: relative;
}

.zj-list-header li{
    opacity: 0.3;
    cursor: pointer;
}

.zj-list-header li.active{
    opacity:1.0;
}

.zj-list-header .search{
    position: absolute;
    right:0;
    top:5px;
    width:10%;
    padding:5px;
}

.zj-list-header .search.active{
    width:100%;
    background-color:#000;
    transition:width 1s;
    -moz-transition:width 1s; /* Firefox 4 */
    -webkit-transition:width 1s; /* Safari and Chrome */
    -o-transition:width 1s; /* Opera */
}

.zj-list-header .search span{
    font-size:17px;
    display: inline-block;
    vertical-align: middle;
    width:100%;
    float:right;
    cursor: pointer;
}

.zj-list-header .search.active span{
    width:10%;
}

.zj-list-header .search input{
    height:20px;
    line-height: 20px;
    outline:none;
    border:0;
    background-color:transparent;
    width:0;
}

.zj-list-header .search.active input{
    width:89%;
    transition:width 2s;
    -moz-transition:width 2s; /* Firefox 4 */
    -webkit-transition:width 2s; /* Safari and Chrome */
    -o-transition:width 2s; /* Opera */
}

.zj-list .sub-menu{
    width:100%;
    height:auto;
    position:relative;
}

.zj-list .sub-menu .sub-menu-inner{
    width:100%;
    height:50px;
    overflow-y:hidden;
    overflow-x:auto;
    white-space: nowrap;
}

.zj-list .sub-menu .sub-menu-inner>li{
    display: inline-table;
    vertical-align: top;
    width:auto;
    border-top:2px solid transparent;
    cursor:pointer;
}

.zj-list .sub-menu .sub-menu-inner>li.active{
    border-top:2px solid #D62929;
}
/* 美化滚动条样式 */
.zj-list .sub-menu .sub-menu-inner::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: #000;
}

.zj-list .sub-menu .sub-menu-inner::-webkit-scrollbar
{
    width:3px;
    height:5px;
    background-color: #000;
    border-radius: 5px;
    overflow: hidden;
}

.zj-list .sub-menu .sub-menu-inner::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #fff;
    width:5px;
}

.hq-static{
    margin:10px 0;
}

.hq-static>li{
    background-color:#fff;
    padding:10px;
    color:#000;
    text-align: center;
    width:117px;
}

.hq-static>li h5,.hq-static>li h6{
    color: #e61f1c;
}

.hq-static>li.active h5,.hq-static>li.active h6{
    color: #35c0c5;
}




